In [34]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import altair as alt


import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

plt.rcParams['svg.fonttype'] = 'none'

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [36]:
%%R

# My commonly used R imports

require('tidyverse')

In [37]:

mean_temp_df = pd.read_csv('Mean_temp.csv')
humidity_df = pd.read_csv('Humidity.csv')
forest_fires_df = pd.read_csv('forest_fires.csv', delimiter=';')  # Adjust delimiter as needed
rainfall_df = pd.read_csv('rainfall.csv')

In [38]:
humidity_df.rename(columns={'month': 'Month'}, inplace=True)

In [39]:
forest_fires_df['Month'] = pd.to_datetime(forest_fires_df['date'], format='%Y/%m').dt.month

In [40]:
mean_temp_df.rename(columns={'month': 'Month'}, inplace=True)

In [42]:

mean_temp_df['Month'] = pd.to_datetime(mean_temp_df['Month'], format='%b', errors='coerce').dt.month
humidity_df['Month'] = pd.to_datetime(humidity_df['Month'], format='%b', errors='coerce').dt.month
# Assuming rainfall_df might also contain month names
rainfall_df['Month'] = pd.to_datetime(rainfall_df['Month'], format='%b', errors='coerce').dt.month

# For forest_fires_df, since 'Month' is extracted from a 'date' format like 'YYYY/MM', it should already be in numeric form
# Ensure it's in integer format
forest_fires_df['Month'] = pd.to_datetime(forest_fires_df['date'], format='%Y/%m').dt.month.astype(int)

In [43]:
dfs = [mean_temp_df, humidity_df, forest_fires_df, rainfall_df]
merged_df = reduce(lambda left, right: pd.merge(left, right, on='Month', how='outer'), dfs)

In [44]:
merged_df

,Month,AVERAGE of 2023_x,AVERAGE of 2022_x,AVERAGE of 2021_x,AVERAGE of 2020_x,AVERAGE of 2023_y,AVERAGE of 2022_y,AVERAGE of 2021_y,AVERAGE of 2020_y,date,class,focuses,uf,AVERAGE of 2020,AVERAGE of 2021,AVERAGE of 2022,AVERAGE of 2023
0,4.0,26.4,25.7,26.0,26.2,87.6,90.3,89.1,88.2,2023/04,Desmatamento Consolidado,8.0,AMAZONAS,974.8,1115.5,1240.2,349.6
1,4.0,26.4,25.7,26.0,26.2,87.6,90.3,89.1,88.2,2023/04,Desmatamento Consolidado,9.0,MARANHÃO,974.8,1115.5,1240.2,349.6
2,4.0,26.4,25.7,26.0,26.2,87.6,90.3,89.1,88.2,2023/04,Desmatamento Consolidado,271.0,MATO GROSSO,974.8,1115.5,1240.2,349.6
3,4.0,26.4,25.7,26.0,26.2,87.6,90.3,89.1,88.2,2023/04,Desmatamento Consolidado,37.0,PARÁ,974.8,1115.5,1240.2,349.6
4,4.0,26.4,25.7,26.0,26.2,87.6,90.3,89.1,88.2,2023/04,Desmatamento Consolidado,15.0,RONDÔNIA,974.8,1115.5,1240.2,349.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,9.0,29.2,28.0,26.7,27.6,72.9,77.5,84.0,78.2,2019/09,Vegetacao Secundaria,271.0,PARÁ,1942.4,1911.0,1871.7,694.7
2036,9.0,29.2,28.0,26.7,27.6,72.9,77.5,84.0,78.2,2019/09,Vegetacao Secundaria,253.0,RONDÔNIA,1942.4,1911.0,1871.7,694.7
2037,9.0,29.2,28.0,26.7,27.6,72.9,77.5,84.0,78.2,2019/09,Vegetacao Secundaria,3.0,RORAIMA,1942.4,1911.0,1871.7,694.7
2038,9.0,29.2,28.0,26.7,27.6,72.9,77.5,84.0,78.2,2019/09,Vegetacao Secundaria,2.0,TOCANTINS,1942.4,1911.0,1871.7,694.7
2039,NaN,27.3,26.6,26.2,26.8,82.6,83.6,86.5,83.5,NaN,NaN,NaN,NaN,1465.0,1503.1,1451.2,503.1

In [47]:
#download the data

# Assuming `merged_df` is your final merged DataFrame
merged_df.to_csv('merged_data.csv', index=False)